*{
    background: rgb(217, 171, 171);
    font-family: "Inter";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    border: none;
    color: rgb(0, 0, 0);
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: rgb(0, 0, 0); }
.text-area:focus{
    outline: none;
}

.mensaje{
    background: #F4D9D0;
    background-image: url("imagenes/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #000000;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: rgb(199, 91, 122);
    border: 1px solid rgb(146, 26, 64);
    border-radius: 24px;
    color: #390000;
    cursor: pointer;
    height: 76px;
    margin-left: 30px;
    width: 328px;

}

.btn-encriptar {
    background: rgb(146, 26, 64);
    border: 1px solid rgb(244, 217, 208);
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.copiar {
    background: rgb(199, 91, 122);
    border: 1px solid rgb(146, 26, 64);
    border-radius: 24px;
    color: #390000;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 356px;
}

.informacion {
    color: #000000;
    font-size: 18px;

}

.footer{
    font-size: 16px;
    color: #F4D9D0;
    display: flex;
    flex-direction: column;
    align-content: end;
    align-items: center;
  
    height: 100px;
    width: 100vw;
}